body{
    padding:0;
    margin: 0;
    height: 100%;
    // background: linear-gradient(360deg, #0E9347 0%, rgba(122, 193, 151, 0.51) 100%, rgba(33, 34, 33, 0.51) 100%);
    // background: #0E9347;
    background: linear-gradient(360deg, #0E9347 0%, rgba(122, 193, 151, 0.51) 100%, rgba(33, 34, 33, 0.51) 100%);
}