@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');
$default-fonts: 'Montserrat', 'sans-serif';
$white : #FFFFFF;
$black: #000;

body{
    padding:0;
    margin: 0;
    height: 100%;
    font-family: $default-fonts;
}